@using Audiences.ViewModels
@model Audiences.ViewModels.EntityViewModel 

<h1>Editando</h1>

<form asp-action="Create" method="POST">
    <div class="form-group">
        <label for="Name">Nombre de Entidad:</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input name="Name" class="form-control"/>    
    </div>
    
    <div class="form-group">
        <label for="Address">Dirección:</label>
        <span asp-validation-for="Address" class="text-danger"></span>
        <input name="Address" class="form-control"/>    
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Teléfono:</label>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <input name="PhoneNumber" class="form-control"/>    
    </div>

    <div class="form-group">
        <label for="Description">Descripción:</label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input name="Description" class="form-control"/>    
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Guardar"/>
    </div>
    
    <a asp-action="Index">Back to List</a>
</form>
